<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header text-center'>

      <img src="./assets/images/logo/eke.gif" alt="">
      <h2 class="color-title">
        <b>EKE</b>Regisztráció
      </h2>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Itthon
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/description']">
            <span class='glyphicon glyphicon-list'></span> Túraleírások
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/registration']">
            <span class='glyphicon glyphicon-pencil'></span> Regisztráció
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/registered']">
            <span class='glyphicon glyphicon-list-alt'></span> Táborozók listája
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
