<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header text-center col-sm-12'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <img src="./assets/images/logo/eke.gif" alt="" class="img-responsive">
      <p class="color-title" style="font-size:30px;margin-top: 20px;margin-bottom: 10px;">
        <b>EKE</b>Regisztráció
      </p>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Itthon
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/description']">
            <span class='glyphicon glyphicon-list'></span> Túraleírások
          </a>
        </li>
        <!-- <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/registration']">
            <span class='glyphicon glyphicon-pencil'></span> Regisztráció
          </a>
        </li> -->
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/registered']">
            <span class='glyphicon glyphicon-list-alt'></span> Táborozók listája
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
