<ng4-loading-spinner> </ng4-loading-spinner>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12 col-md-2'>
      <nav-menu></nav-menu>
    </div>
    <div class='col-sm-12 col-md-10 body-content'>
      <router-outlet></router-outlet>
      <!-- <pre>{{ formData | json }}</pre> -->
    </div>
  </div>
</div>


<cookie-law class="gdprBottom">
  A GDPR rendelkezéseinek megfelelően a regisztráció kitöltésével elfogadom, hogy az Erdélyi Kárpát-Egyesület felhasználhassa
  személyes adataimat a XXVII. EKE Vándortábor megszervezése érdekében. A Vándortábor lejártával, amennyiben szeretném, hogy
  az EKE többet ne használja fel adataimat, személyesen fogom kérni személyes adataim törlését az EKE szervereiről.
  <br /><br /> Az Erdélyi Kárpát-Egyesület biztosítja, hogy bármilyen formában - irottan, elektronikusan, telefonon stb. - beérkező adattörlési
  kérésnek eleget tesz.
  <a href="https://eur-lex.europa.eu/legal-content/HU/TXT/HTML/?uri=CELEX:32016R0679&from=HU" target="_blank">Bővebben itt</a>
</cookie-law>
