<h1>Regisztrált táborozók listája</h1>
<br />
<legend>Jelentkezők száma: {{users?.length}}</legend>

<div *ngIf="users?.length > 0">
  <p-dataTable [value]="users" [rows]="50" [paginator]="true">
    <p-column field="name" header="Név" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Keresés"></p-column>
    <p-column field="city" header="Város" [sortable]="true"></p-column>
    <p-column field="member" header="Tagság" [sortable]="true"></p-column>
  </p-dataTable>
</div>