<h1>Meghívó az EKE XXVII. Vándortáborába</h1>
<h2>Feketehalom, 2018. július 30. – augusztus 5.</h2>

<br />

<p>
  <b> Kedves Természetjáró Barátunk!</b>
</p>
<p>Szeretettel meghívunk a Kárpát-medence legnagyobb turistatalálkozójára, az EKE XXVII. Országos Vándortáborába, amelyet a
  125 éves EKE Brassó szervez a Barcaságon,
  <b>Feketehalmon</b>, a Kotla alatt,
  <b>2018. július 30. – augusztus 5.</b> között.</p>
<p>Meghirdetett gyalogtúráink, zarándoklataink során megismerkedhetsz a Kárpát-kanyar hegyeivel: Királykő, Bucsecs, Keresztény-havas,
  Nagy-kőhavas, Csukás; a Persányi-hegységgel, a Baj-havassal; a Feketehalom, Brassó, Négyfalu, Zernyest, Törcsvár körüli
  dombvidékkel; mondák, legendák misztikus helyeivel, barlangjaival, rejtett zugaival.</p>
<p>
  Honismereti túráink a Barcaság szász templomerődjeihez (Prázsmár, Szászhermány, Barcaszentpéter, Feketehalom stb.), kastélyaihoz
  (Törcsvár, Bodola stb.), váraihoz (Feketehalom, Barcarozsnyó, Krizba, Földvár stb.) kalauzolnak el, de természetesen nem
  maradhat ki a Barcaság koronája, Brassó sem.
</p>
<p>
  Szekeres és traktoros túráink a Barcaság csángó falvaiba, tavaihoz vezetnek; kerékpáros túráink során alkalom adódik a gyönyörű
  tájat csodálni, amelyet lencsevégre is kaphatsz fotós túráink alatt. A kisgyermekek, pihenni vágyók a környék dombjait
  járhatják be, üdülhetnek a feketehalmi strandon, sétálhatnak a tavak körül.
</p>
<p>
  A vállalkozóbb szelleműek kipróbálhatják a lovaglást, a siklóernyőzést a Bolnokon vagy a kajakozást az Olton. Erődet, felkészültségedet,
  intelligenciádat versenyeken és vetélkedőkön mérheted össze a többi táborlakóéval.
</p>
<p>
  A három túranap hagyományőrző nappal (magyar harcművészet, hagyományos népi mesterségek, kézműves műhelyek, rovásírás, magyar
  életvitel, táncház, népdalok stb.) egészül ki, pénteken, augusztus 3-án, így hétfőtől vasárnapig biztosított a program.
</p>
<p>
  A tábor fővédnöke
  <b>Kalmár Ferenc</b>, Magyarország szomszédságpolitikájának fejlesztéséért felelős miniszteri biztosa és Zákonyi Botond, Magyarország
  bukaresti nagykövete. A tábor védnöke Tóásó Imelda, Brassó Megye Tanácsának alelnöke.
</p>
<br />
<legend>Tábori tudnivalók</legend>
<p>XXVII. EKE Vándortábor, Feketehalom, 2018. július 30. – augusztus 5.</p>
<p>A XXVII. EKE Vándortábor helyszíne a Feketehalom (Codlea, Zeiden) végében található majálishely és annak környéke (45,7070°
  É; 25,4332° K; 639 m).</p>
<p>A tábori regisztráció 2018. április elsején kezdődik, kötelezően on-line formában! Jelentkezni lehet a táborra és a túrákra
  is. </p>
<p>Az ünnepélyes tábornyitás július 30-án, hétfőn 18 órától lesz, a táborzárás pedig augusztus 4-én, szombaton 18 órától. A
  tábor helyét legkésőbb augusztus 5-én, vasárnap el kell hagyni.</p>
<p>Szállás saját sátorban a szervezők által kijelölt területen. A szervezők nem vállalják a foglalást azoknak, akik panziókban
  vagy más környékbeli szálláshelyeken szeretnének megszállni, azt mindenki maga kell, hogy intézze igénye szerint. A szervezők
  viszont felmérik a szálláslehetőségeket, az elérhetőségeket, és ez felkerül a honlapra, ahol mindenki hozzáférhet.</p>
<p>Az étkezés önellátással történik, lehet minden napra meleg ételt előrendelni. A közelben friss élelmiszer (kenyér, gyümölcs,
  tejtermék) vásárolható üzletekben, piacon.</p>

<p>
  <b>Részvételi díjak:</b>
</p>
<ul>
  <li>alapbelépő:
    <b>120</b> lej</li>
  <li>EKE-, MKE-, VTSZ-, PKE-, KEE-tagoknak (2018-ra érvényes tagsági könyvvel):
    <b>60</b> lej</li>
  <li>kisgyermekeknek (0–6 év): ingyenes (nem tartalmazza a kiadványokat és az ajándékokat)</li>
  <li>gyermekeknek, akik nem EKE- stb. tagok (6–12 év):
    <b>60</b> lej, tartalmazza a túrafüzetet</li>
  <li>gyermekeknek, akik EKE- stb. tagok (6–12 év):
    <b>30</b> lej, tartalmazza a túrafüzetet</li>
  <li>diákoknak, akik nem EKE- stb. tagok (12–23 év), érvényes diákigazolvánnyal:
    <b>70</b> lej (tartalmazza a kiadványokat és az ajándékot)</li>
  <li>diákoknak, akik EKE- stb. tagok (12–23 év), érvényes diákigazolvánnyal:
    <b>35</b> lej (tartalmazza a kiadványokat és az ajándékot)</li>
  <li>családi kedvezmény: két fizető gyermek felett a többi gyermeknek ingyenes (nem tartalmazza a kiadványokat és az ajándékot)</li>
  <li>napijegy:
    <b>30</b> lej (nem tartalmazza a kiadványokat és az ajándékot);</li>
  <li>parkolási díj a tábor területén:
    <b>5</b> lej</li>
</ul>

<p>
  <b>Az alapbelépő tartalmazza:</b>
</p>
<ul>
  <li>a tábori belépőt a tábor teljes időtartamára</li>
  <li>a tábori infrastruktúra használatát</li>
  <li>a részvételt a programokon</li>
  <li>a sátorhelyet a tábor területén</li>
  <li>a programfüzetet és a térképet</li>
  <li>az ajándékcsomagot</li>
  <li>a túrákon való részvételt</li>
  <li>a tábori kitűzőt, amely tombolajegy is egyben</li>
</ul>

<p>
  <b>Nem tartalmazza:</b>
</p>
<ul>
  <li>a túrák szállítási árát, ezt a regisztrációnál lehet kifizetni.</li>
</ul>

<p>
  <b>Egyéb tudnivalók:</b>
</p>
<ul>
  <li>a tábor területén a tűzrakás tilos</li>
  <li>kérjük a parkolójegyet és a sátorszámot jól látható helyre kitenni</li>
  <li>az autók parkolására korlátozott lehetőség van, ezért kérjük a szervezők utasítását betartani</li>
  <li>a tábor ideje alatt a kitűzők használata kötelező</li>
  <li>kérjük a kijelölt utakat szabadon hagyni</li>
  <li>kérjük a hulladékot a kijelölt helyekre dobni (szelektíven)</li>
  <li>használjuk a kijelölt illemhelyeket</li>
  <li>a tábor területén van vezetékes víz, illemhely és kiépített zuhanyzók</li>
  <li>a tábor területén van mobiltelefon-térerő</li>
  <li>a tábor területén este 10 óra után hagyjuk társainkat pihenni, és mi is készüljünk a másnapi túrára!</li>
</ul>
<p>Nagy szeretettel várunk mindenkit Feketehalomba, a XXVII. EKE Vándortáborba!</p>
<p>
  <b>Dr. Kovács Lehel István</b> táborparancsnok</p>
