.tab-content .tab-pane {
  padding-top: 20px;
}

.alert {
  padding: 8px;
  margin-bottom: 8px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #2D522D;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.btn-info {
  background-color: #2D522D !important;
}

.btn-success {
  background-color: #2D522D !important;
}

.btn-info.disabled,
.btn-info:disabled {
  border-color: #2D522D !important;
}

.btn-success.disabled,
.btn-success:disabled {
  border-color: #2D522D !important;
}
