<h1>Túraleírások</h1>
<hr />
<div class="bs-example">
  <div class="panel-group" id="accordion">

    <p>
      <strong>Megjegyz&eacute;sek:</strong>
    </p>
    <ol>
      <li>A t&aacute;v busszal, illetve a t&uacute;raidő busszal oda-vissza &eacute;rtendő.</li>
      <li>Az időj&aacute;r&aacute;s f&uuml;ggv&eacute;ny&eacute;ben a t&uacute;ravezetőknek jogukban &aacute;ll az &uacute;tvonalat
        m&oacute;dos&iacute;tani.
      </li>
      <li>Az esetleges bel&eacute;pők &aacute;r&aacute;t a t&uacute;ra &aacute;r&aacute;val egy&uuml;tt a regisztr&aacute;ci&oacute;n&aacute;l
        kell befizetni.</li>
      <li>Fenntartjuk annak a jogát, hogy ha a busz félig nem telik meg, akkor ne indítsuk az adott túrát. </li>
    </ol>

    <hr />

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            1. Strand a Goldbach patakon – Gyerektúra
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Feketehalmi strand &ndash; Tavak &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> k&ouml;nnyű gyalogt&uacute;ra a t&aacute;bor k&ouml;rny&eacute;ki lombhullat&oacute;
            erdőben, Feketehalom strandj&aacute;n kikapcsol&oacute;d&aacute;si lehetős&eacute;ggel, megker&uuml;lve a mesters&eacute;ges
            tavakat.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 9,6 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 3 &oacute;ra + f&uuml;rd&eacute;s</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +320 m / -316 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            2. Feketevár a Kotlán – Gyerektúra
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Sajoma-r&eacute;t &ndash; Feketev&aacute;r &ndash; Kasz&aacute;l&oacute;k
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> k&ouml;nnyű gyalogt&uacute;ra a t&aacute;bor k&ouml;rny&eacute;ki lombhullat&oacute;
            erdőben, megtekintj&uuml;k a Feketev&aacute;r romjait, v&eacute;gigj&aacute;rjuk a Kotla alatti kasz&aacute;l&oacute;kat.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 9,78 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 5 &oacute;ra gyerekprogramokkal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +641 m / -641 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> augusztus 1.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            3. Parasztvár és barlanglátogatás Barcarozsnyón – Gyerektúra
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Sz&aacute;szvolk&aacute;ny &ndash; Barcarozsny&oacute; &ndash;
            Parasztv&aacute;r &ndash; Din&oacute;park &ndash; Cseppkőbarlang &ndash; Kereszt&eacute;nyfalva &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> aut&oacute;busszal megy&uuml;nk Barcarozsny&oacute;ra. Itt megl&aacute;togatjuk a
            parasztv&aacute;rat, majd els&eacute;t&aacute;lunk a cseppkőbarlanghoz.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 6 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>60 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra s&eacute;ta, 1 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +200 m / -200 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 20 RON + 45 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            4. A Kotla varázslatos világa
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Kotla-cs&uacute;cs &ndash; Strand &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;kon kell m&aacute;szni, de csak &iacute;gy fedezhetj&uuml;k fel igaz&aacute;n
            a Kotl&aacute;t.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 16 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra + f&uuml;rd&eacute;s</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +922 m / -927 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            5. Keresztény-havas – mésztej és denevérek a Tejbarlangban
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Barcarozsny&oacute; &ndash; Brass&oacute;-Poj&aacute;na &ndash;
            Drester-r&eacute;t &ndash; Tejbarlang &ndash; R&ouml;mer mened&eacute;kh&aacute;z &ndash; V&ouml;r&ouml;s-&uacute;t
            &ndash; Brass&oacute;-Poj&aacute;na &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a m&eacute;sztejről h&iacute;res Tejbarlangot l&aacute;togatjuk meg, majd a sz&aacute;sz
            turistaegylet mened&eacute;kh&aacute;z&aacute;ban friss&uuml;l&uuml;nk fel.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 15 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra gyalog, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +425 m / -860 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            6. Létrákon a Nagy-kőhavason
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Malomdombok &ndash; H&eacute;tl&eacute;tra &ndash; Medve-szakad&eacute;k-Kil&aacute;t&oacute;
            &ndash; P&aacute;sztor-tiszt&aacute;s (K&aacute;poszt&aacute;s-r&eacute;t) &ndash; J&eacute;gbarlang &ndash;
            Sziklasor &ndash; Malomdombok &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;s, kőt&ouml;rmel&eacute;kes terep, erdei utak, patakmedres &aacute;tkel&eacute;sek,
            t&ouml;bbsz&ouml;r&ouml;s kapaszkod&aacute;s legt&ouml;bb 15 m hossz&uacute; f&eacute;ml&eacute;tr&aacute;kon,
            sz&eacute;d&uuml;l&eacute;smentess&eacute;g k&ouml;telező, forr&aacute;sok &uacute;tk&ouml;zben. K&ouml;telező
            t&uacute;rabakancs, t&uacute;rabot haszn&aacute;lata, eleml&aacute;mpa a barlanghoz.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 15 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>80 km</p>
          <p>
            <strong>Menetidő:</strong> 7 &oacute;ra gyalog, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +886 m /- 872 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON + 5 RON bel&eacute;pő</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            7. Szentélyek és várak – zarándoklat a Kotlán
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Kotla-cs&uacute;cs &ndash; Szent&eacute;ly &ndash; Feketev&aacute;r
            &ndash; Kasz&aacute;l&oacute;k &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z t&uacute;ra</p>
          <p>szikl&aacute;kon kell m&aacute;szni</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a zar&aacute;ndoklat szakr&aacute;lis &eacute;lm&eacute;ny&eacute;t &eacute;lhetj&uuml;k
            &aacute;t. Szikl&aacute;kon m&aacute;szunk, szent&eacute;lyeket keres&uuml;nk, v&aacute;rromokat l&aacute;togatunk.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 12 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +844 m / -804 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            8. Mesés sziklák a Csukáson
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; N&eacute;gyfalu &ndash; Bretocsa-h&aacute;g&oacute; &ndash; Csuk&aacute;s-cs&uacute;cs
            &ndash; Csuk&aacute;s mened&eacute;kh&aacute;z &ndash; V&ouml;r&ouml;s-havasok &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a Csuk&aacute;s gerinc&eacute;t j&aacute;rjuk be, csod&aacute;latos sziklaalakokat
            l&aacute;thatunk, mes&eacute;s vil&aacute;got ismerhet&uuml;nk meg. Hossz&uacute; t&uacute;ra.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 21 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>150 km</p>
          <p>
            <strong>Menetidő:</strong> 9 &oacute;ra gyalog, 2,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +890 m / -1200 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            9. Bucsecs, a Barcaság őre
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Buşteni &ndash; Diham (Szarvas)-v&ouml;lgy &ndash; Coștila-tiszt&aacute;s
            &ndash; Moraru (Moln&aacute;r)-v&ouml;lgy &ndash; Omu-cs&uacute;cs &ndash; Szarvas-v&ouml;lgy &ndash; Buşteni
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> hossz&uacute; magashegyi t&uacute;ra, p&aacute;rk&aacute;nyokkal, sziklam&aacute;sz&aacute;ssal,
            sz&uuml;ks&eacute;ges a j&oacute; fizikai erőnl&eacute;t, sz&eacute;d&uuml;l&eacute;smentess&eacute;g, egyszerűbb
            sziklam&aacute;sz&aacute;sban j&aacute;rtass&aacute;g. A t&uacute;ra alatt a v&iacute;zk&eacute;szlet p&oacute;tl&aacute;s&aacute;ra
            nincs lehetős&eacute;g, &iacute;gy a napi sz&uuml;ks&eacute;gletet hozni kell. Az Omu mened&eacute;kh&aacute;zban
            (az orsz&aacute;g legmagasabban fekvő mened&eacute;kh&aacute;za) lehet te&aacute;t, s&ouml;rt, hűs&iacute;tőt
            v&aacute;s&aacute;rolni. A t&uacute;ra sor&aacute;n 2500 m f&ouml;l&eacute; m&aacute;szunk.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 16,68 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>120 km</p>
          <p>
            <strong>Menetidő:</strong> 11,5 &oacute;ra gyalog, 2,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +2018 m / -2078 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            10. Bucsecs – a Mălăiești cirkuszvölgy
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Barcarozsny&oacute; &ndash; V&iacute;zművek &ndash; Mălăiești-v&ouml;lgy
            &ndash; Mălăiești mened&eacute;kh&aacute;z &ndash; Felső-katlan &ndash; Mălăiești-v&ouml;lgy &ndash; Barcarozsny&oacute;
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> j&oacute; fizikai erőnl&eacute;t sz&uuml;ks&eacute;ges, &aacute;m a l&aacute;tv&aacute;ny
            k&aacute;rp&oacute;tolja a f&aacute;rads&aacute;got.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 18 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 9 &oacute;ra gyalog, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1250 m / -1250 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
            11. Mesés sziklacsipkék a Királykőn
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Zernyest &ndash; Lombos-mező (Plaiul Foii) &ndash; Spirla &ndash;
            L&aacute;ncok (Deubel-&uacute;t) &ndash; Grind mened&eacute;k &ndash; P&aacute;sztor-cs&uacute;cs &ndash; gerinc
            &ndash; Hegyes-cs&uacute;cs &ndash; Curmătura mened&eacute;kh&aacute;z &ndash; Zernyesti-szoros &ndash; Botorog-csorg&oacute;
            &ndash; Zernyest &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> sziklam&aacute;sz&aacute;ssal, p&aacute;rk&aacute;nyokkal tark&iacute;tott neh&eacute;z
            t&uacute;ra. J&oacute; felk&eacute;sz&uuml;lts&eacute;g sz&uuml;ks&eacute;ges, sz&eacute;d&uuml;l&eacute;smentess&eacute;g
            k&ouml;telező. Erd&eacute;ly egyik legszebb hegy&eacute;n t&uacute;r&aacute;zhatunk.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 23 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 9 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1660 m/-1750 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON + 5 RON bel&eacute;pő</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
            12. Királykő – zergék nyomában
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Zernyest &ndash; Lombos-mező (Plaiul Foii) &ndash; Medve-v&ouml;lgy
            &ndash; Diana v&eacute;dkunyh&oacute; &ndash; Pap-szakad&eacute;k &ndash; Hegyes-cs&uacute;cs &ndash; Padinile
            frumoase &ndash; Curmătura &ndash; Zernyesti-szoros &ndash; Botorog-csorg&oacute; &ndash; Zernyest &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z magashegyi t&uacute;ra, sziklam&aacute;sz&aacute;ssal, p&aacute;rk&aacute;nyokkal</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> sziklam&aacute;sz&aacute;ssal, p&aacute;rk&aacute;nyokkal tark&iacute;tott neh&eacute;z
            t&uacute;ra. J&oacute; felk&eacute;sz&uuml;lts&eacute;g sz&uuml;ks&eacute;ges, sz&eacute;d&uuml;l&eacute;smentess&eacute;g
            k&ouml;telező. Erd&eacute;ly egyik legszebb hegy&eacute;n t&uacute;r&aacute;zhatunk.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 20km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 9 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1450 m/ -1500 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON + 5 RON bel&eacute;pő</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
            13. Királykő – a sziklák birodalma
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Zernyesti-szoros &ndash; Curmătura mened&eacute;kh&aacute;z &ndash;
            Hasad&eacute;k-nyereg &ndash; Curmătura mened&eacute;kh&aacute;z &ndash; Zănoaga-tiszt&aacute;s &ndash; Botorog-csorg&oacute;
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepesen neh&eacute;z t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> &aacute;tv&aacute;gunk a h&iacute;res Zernyesti sziklaszoroson, csod&aacute;latos
            kil&aacute;t&aacute;sokban lehet r&eacute;sz&uuml;nk.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 19 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1000 m /-1000 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON + 5 RON bel&eacute;pő</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
            14. Keresztény-havas – kilátás a Barcaságra
          </a>
        </h4>
      </div>
      <div id="collapseFourteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Brass&oacute; &ndash; Cenk &ndash; Stehil-r&eacute;t &ndash; Ruja-r&eacute;t
            &ndash; Kereszt&eacute;ny-havas cs&uacute;cs &ndash; Julius R&ouml;mer mened&eacute;kh&aacute;z &ndash; Brass&oacute;-Poj&aacute;na
            &ndash; Barcarozsny&oacute; &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z t&uacute;ra, hossz&uacute; magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> hossz&uacute; magashegyi t&uacute;ra meredek kapaszkod&oacute;kkal, bej&aacute;rja
            a Cenk &eacute;s a Kereszt&eacute;ny-havas gerinceit, cs&uacute;csait.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 20 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 7,5 &oacute;ra gyalog, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1662 m / -1243 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFiftheen">
            15. Nagy-kőhavas – a hétfalusi csángók szent hegye
          </a>
        </h4>
      </div>
      <div id="collapseFiftheen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Malomdombok &ndash; H&eacute;tl&eacute;tra &ndash; EKE-mened&eacute;kh&aacute;z
            &ndash; Nagy-kőhavas-cs&uacute;cs &ndash; Tamina-v&iacute;zes&eacute;s &ndash; Felsőt&ouml;m&ouml;s &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z t&uacute;ra, hossz&uacute; magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> hossz&uacute; magashegyi t&uacute;ra meredek kapaszkod&oacute;kkal, bej&aacute;rja
            a Nagy-kőhavas gerinc&eacute;t, cs&uacute;cs&aacute;t. L&eacute;tr&aacute;kon m&aacute;szk&aacute;lhatunk, kanyonokat
            csod&aacute;lhatunk meg, sz&eacute;d&uuml;l&eacute;smentess&eacute;g k&ouml;telező.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 17,3 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>90 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1265 m / -1155 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON + 5 RON bel&eacute;pő</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
            16. Fogarasi-havasok – tavak és kéklő bércek
          </a>
        </h4>
      </div>
      <div id="collapseSixteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> Tábor – Transzfogarasi út – Bilea-tó – Vajuga völgye – Buteanu kéklő bérce (Vânătoarea
            lui Buteanu) – Zerge-tó – Bilea-tó – Tábor </p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes neh&eacute;zs&eacute;gű magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;kon kapaszkodunk, felt&aacute;rul előtt&uuml;nk a Fogarasi-havasok csod&aacute;s
            vil&aacute;ga.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 7,7 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>230 km</p>
          <p>
            <strong>Menetidő:</strong> 4 &oacute;ra gyalog, 4 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +600 m / -600 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 60 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
            17. Fogarasi-havasok – a gleccserek világa
          </a>
        </h4>
      </div>
      <div id="collapseSeventeen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Szombat-v&ouml;lgy &ndash; Szombatv&ouml;lgyi mened&eacute;kh&aacute;z
            &ndash; S&iacute;zők keresztje &ndash; Gleccser-katlan &ndash; Szombatv&ouml;lgyi mened&eacute;kh&aacute;z &ndash;
            T&aacute;bor
          </p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes neh&eacute;zs&eacute;gű magashegyi t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;kon kapaszkodunk, felt&aacute;rul előtt&uuml;nk a Fogarasi-havasok csod&aacute;s
            vil&aacute;ga.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 16 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>230 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra gyalog, 4 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1200 m / -1200 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 60 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEightheen">
            18. Baj-havas – séta a hegyi legelőkön
          </a>
        </h4>
      </div>
      <div id="collapseEightheen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Prede&aacute;l &ndash; Kelebucs (Clăbucet) &ndash; G&acirc;rbova
            mened&eacute;kh&aacute;z &ndash; Clăbucetul Taurului &ndash; Azuga &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a mezőhavasok vil&aacute;g&aacute;t csod&aacute;lhatjuk meg gy&ouml;ny&ouml;rű kil&aacute;t&aacute;sokkal.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 9,5 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>120 km</p>
          <p>
            <strong>Menetidő:</strong> 7 &oacute;ra gyalog, 2,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +565 m / -630 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">
            19. Törcsvári Magura – hegyek tárlata
          </a>
        </h4>
      </div>
      <div id="collapseNineteen" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; T&ouml;rcsv&aacute;r &ndash; Măgura-cs&uacute;cs &ndash; Măgura
            falu &ndash; Botorog-csorg&oacute; &ndash; Zernyest &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> r&aacute;l&aacute;t&aacute;s ny&iacute;lik a Kir&aacute;lykőre &eacute;s a k&ouml;rnyező
            telep&uuml;l&eacute;sekre.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 10,5 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra gyalog, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +750 m / -750 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">
            20. Szász templomerődök biciklivel – Biciklitúra I.
          </a>
        </h4>
      </div>
      <div id="collapseTwenty" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Feketehalom &ndash; Sz&aacute;szvolk&aacute;ny &ndash; Barcarozsny&oacute;
            &ndash; Kereszt&eacute;nyfalva &ndash; Vidomb&aacute;k &ndash; Feketehalom &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> bicikliz&eacute;s &eacute;s honismeret.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 45 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 11 &oacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +300 m / -300 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne">
            21. Szász templomerődök biciklivel – Biciklitúra II.
          </a>
        </h4>
      </div>
      <div id="collapseTwentyOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Brass&oacute; &ndash; Pr&aacute;zsm&aacute;r &ndash; Sz&aacute;szherm&aacute;ny
            &ndash; Barcaszentp&eacute;ter &ndash; Botfalu &ndash; H&ouml;lt&ouml;v&eacute;ny &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;zepes t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> bicikliz&eacute;s &eacute;s honismeret.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 77 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 11 &oacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +500 m / -500 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> augusztus 1.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyTwo">
            22. Biciklivel a magasban – Biciklitúra III.
          </a>
        </h4>
      </div>
      <div id="collapseTwentyTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Kereszt&eacute;nyfalva &ndash; Barcarozsny&oacute; &ndash; Sziklaszoros
            &ndash; Sz&eacute;kely-r&eacute;t &ndash; H&aacute;romfenyő &ndash; Hidegpatak &ndash; Dih&aacute;m &ndash; Glăjeriei-v&ouml;lgy
            &ndash; Barcarozsny&oacute; &ndash; Sz&aacute;szvolk&aacute;ny &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> magashegyi t&uacute;ra biciklivel, j&oacute; erőnl&eacute;t sz&uuml;ks&eacute;ges.
            A f&aacute;radts&aacute;got a l&aacute;tv&aacute;ny k&aacute;rp&oacute;tolja.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 83,5 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>-</p>
          <p>
            <strong>Menetidő:</strong> 11 &oacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1536 m / -1536 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyThree">
            23. A Barcaság gombái – Gombásztúra
          </a>
        </h4>
      </div>
      <div id="collapseTwentyThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Kotla &ouml;sv&eacute;nyei &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> s&eacute;t&aacute;l&aacute;s a Kotl&aacute;n, k&ouml;zben gomb&aacute;kat keres&uuml;nk,
            azonos&iacute;tunk be.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 10 km</p>
          <p>
            <strong>T&aacute;v busszal: -</strong>
          </p>
          <p>
            <strong>Menetidő:</strong> 5 &oacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +427 m / -436 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> -</p>
          <p>
            <strong>Napok:</strong> augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFour">
            24. Madárles a barcasági tavakon – Fotós túra I.
          </a>
        </h4>
      </div>
      <div id="collapseTwentyFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Szunyogsz&eacute;k &ndash; Tavak &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a barcas&aacute;gi tavak mad&aacute;rvil&aacute;g&aacute;t, horg&aacute;szparadicsom&aacute;t
            kaphatjuk lencsev&eacute;gre.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 10 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>35 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra, 1 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> + 100 m / -100 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 20 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyFive">
            25. A sziklák birodalmában – Fotós túra II.
          </a>
        </h4>
      </div>
      <div id="collapseTwentyFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Botorog-csorg&oacute; &ndash; Măgura &ndash; Peștera &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;k &eacute;s falvak, j&oacute; t&eacute;m&aacute;k a fot&oacute;soknak.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 15 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +500 m / -500 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> augusztus 1.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySix">
            26. A tanyák világa – Fotós túra III.
          </a>
        </h4>
      </div>
      <div id="collapseTwentySix" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Alm&aacute;skertek &ndash; Holb&aacute;k &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> egyed&uuml;l&aacute;ll&oacute; &eacute;p&uuml;letek, nagy t&aacute;vols&aacute;gok,
            tany&aacute;k.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 15 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>70 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra, 1,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +500 m / -500 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON</p>
          <p>
            <strong>Napok:</strong> augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentySeven">
            27. A Barcaság falvai – Szekeres túra
          </a>
        </h4>
      </div>
      <div id="collapseTwentySeven" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Barca&uacute;jfalu (aut&oacute;busszal) &ndash; Krizba &ndash;
            Szunyogsz&eacute;k &ndash; H&ouml;lt&ouml;v&eacute;ny &ndash; Barca&uacute;jfalu &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szek&eacute;rből csod&aacute;lhatjuk meg a barcas&aacute;gi cs&aacute;ng&oacute; falvakat
            &eacute;s a t&aacute;jat.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 25 km szek&eacute;rrel</p>
          <p>
            <strong>T&aacute;v busszal: </strong>35 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra szek&eacute;rrel, meg&aacute;ll&aacute;sokkal, 1 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> -</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 45 RON</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyEight">
            28. Brassó – a Barcaság Koronája – Honismereti túra
          </a>
        </h4>
      </div>
      <div id="collapseTwentyEight" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Brass&oacute; &ndash; Cenk &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> Brass&oacute; &eacute;s a Cenk megismer&eacute;se. Felvon&oacute;, t&ouml;rt&eacute;nelem,
            m&uacute;zeumok.
          </p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 2 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>35 km</p>
          <p>
            <strong>Menetidő:</strong> 1 &oacute;ra busszal, 7 &oacute;ra s&eacute;ta</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +100 m / -100 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 20 RON + 35 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyNine">
            29. Látogatóban a hétfalusi csángóknál – Honismereti buszos túra
          </a>
        </h4>
      </div>
      <div id="collapseTwentyNine" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; N&eacute;gyfalu &ndash; H&aacute;romfalu &ndash; Bodola &ndash;
            Pr&aacute;zsm&aacute;r &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> ismerked&eacute;s a h&eacute;tfalusi cs&aacute;ng&oacute;k vil&aacute;g&aacute;val,
            n&eacute;prajz, t&ouml;rt&eacute;nelem, m&uacute;zeumok.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> -</p>
          <p>
            <strong>T&aacute;v busszal: </strong>100 km</p>
          <p>
            <strong>Menetidő:</strong> 2 &oacute;ra busszal a c&eacute;lig, majd 6 &oacute;r&aacute;s k&ouml;r&uacute;t, meg&aacute;ll&aacute;sokkal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> -</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 35 RON + 10 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirty">
            30. Geológiai csodák Alsórákoson – Honismereti túra
          </a>
        </h4>
      </div>
      <div id="collapseThirty" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Kőhalom (v&aacute;r) &ndash; Als&oacute;r&aacute;kos &ndash; Bazaltorgona
            &ndash; Smaragd-t&oacute; &ndash; Kialudt vulk&aacute;n &ndash; S&uuml;k&ouml;sd-Bethlen kast&eacute;ly &ndash;
            Templom &ndash; Temető &ndash; Bog&aacute;ti erdő &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> kast&eacute;lyok, v&aacute;rak, kőzetek, geol&oacute;giai csod&aacute;k.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 7 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>160 km</p>
          <p>
            <strong>Menetidő:</strong> 1 &oacute;ra v&aacute;rl&aacute;togat&aacute;s, 4 &oacute;ra gyalog, 2,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +195 m / -175 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON + 10 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyOne">
            31. A Barcaság csodái: a szász templomerődök – Honismereti buszos túra
          </a>
        </h4>
      </div>
      <div id="collapseThirtyOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> Feketehalom &ndash; Vidomb&aacute;k &ndash; Bertalan &ndash; Barcaf&ouml;ldv&aacute;r
            &ndash; Barcaszentp&eacute;ter &ndash; Sz&aacute;szherm&aacute;ny &ndash; Pr&aacute;zsm&aacute;r &ndash; N&eacute;gyfalu
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> a sz&aacute;sz templomerőd&ouml;k k&ouml;r&uacute;tja. T&ouml;rt&eacute;nelem, &eacute;p&iacute;t&eacute;szet.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> -</p>
          <p>
            <strong>T&aacute;v busszal: </strong>130 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra l&aacute;togat&aacute;s, 2,5 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> -</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON + 30 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyTwo">
            32. Szinaja csodái – Honismereti túra
          </a>
        </h4>
      </div>
      <div id="collapseThirtyTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Szinaja &ndash; Peles-kast&eacute;ly &ndash; Ferenc J&oacute;zsef
            szikl&aacute;k &ndash; Kir&aacute;lyi s&eacute;t&aacute;ny &ndash; Kazin&oacute; &ndash; &Aacute;llom&aacute;s
            &ndash; Prede&aacute;l &ndash; Le&aacute;nyka-havas (hat&aacute;rk&ouml;vek) &ndash; H&aacute;rom Fenyő mened&eacute;kh&aacute;z
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> &aacute;tl&eacute;p&uuml;nk a K&aacute;rp&aacute;tokon. Hat&aacute;rk&ouml;vek, a
            rom&aacute;n kir&aacute;lyok birodalma.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 7 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>150 km</p>
          <p>
            <strong>Menetidő:</strong> 3 &oacute;ra busszal, 5 &oacute;ra l&aacute;togat&aacute;s, 1 &oacute;ra t&uacute;ra</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +250 m / -250 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 40 RON + 60 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyThree">
            33. Várkastély Törcsváron – Honismereti túra
          </a>
        </h4>
      </div>
      <div id="collapseThirtyThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; T&ouml;rcsv&aacute;r &ndash; Barcarozsny&oacute; &ndash; V&aacute;r
            &ndash; Barlang &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> magyar kir&aacute;lyok &eacute;s brass&oacute;i v&aacute;rosb&iacute;r&oacute;k v&aacute;ra,
            de mi k&ouml;ze az eg&eacute;szhez Drakul&aacute;nak?</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 2 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>60 km</p>
          <p>
            <strong>Menetidő:</strong> 1 &oacute;ra busszal, 5 &oacute;ra l&aacute;togat&aacute;s</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +200 m / -200 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 30 RON + 70 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> j&uacute;lius 31., augusztus 1., augusztus 2.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyFour">
            34. Még egyszer a fogarasiban... – szombati extra túra
          </a>
        </h4>
      </div>
      <div id="collapseThirtyFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Bilea-t&oacute; &ndash; Paltin-nyereg &ndash; Lăiţel-cs&uacute;cs
            &ndash; Călțun-t&oacute; &ndash; Strunga Doamnei &ndash; Negoj-cs&uacute;cs &ndash;Călțun-t&oacute; &ndash; Bilea-t&oacute;
            &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> neh&eacute;z magashegyi t&uacute;ra, sziklam&aacute;sz&aacute;ssal</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> szikl&aacute;kon kapaszkodunk, felt&aacute;rul előtt&uuml;nk a Fogarasi-havasok 2500
            m f&ouml;l&ouml;tti csod&aacute;s vil&aacute;ga.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 16 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>230 km</p>
          <p>
            <strong>Menetidő:</strong> 8 &oacute;ra gyalog, 4 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +1538 m / -1581 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 60 RON</p>
          <p>
            <strong>Napok:</strong> augusztus 4.</p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirtyFive">
            35. Vissza a Dinóparkba… – szombati extra túra
          </a>
        </h4>
      </div>
      <div id="collapseThirtyFive" class="panel-collapse collapse">
        <div class="panel-body">
          <p>
            <strong>&Uacute;tvonal:</strong> T&aacute;bor &ndash; Sz&aacute;szvolk&aacute;ny &ndash; Barcarozsny&oacute; &ndash;
            V&aacute;r &ndash; Barlang &ndash; Din&oacute;park &ndash; Kereszt&eacute;nyfalva &ndash; T&aacute;bor</p>
          <p>
            <strong>Minős&iacute;t&eacute;s:</strong> k&ouml;nnyű t&uacute;ra</p>
          <p>
            <strong>Jellemz&eacute;s:</strong> aut&oacute;busszal megy&uuml;nk Barcarozsny&oacute;ra. Itt megl&aacute;togatjuk a
            parasztv&aacute;rat, majd els&eacute;t&aacute;lunk a cseppkőbarlanghoz.</p>
          <p>
            <strong>T&aacute;vols&aacute;g:</strong> 2 km</p>
          <p>
            <strong>T&aacute;v busszal: </strong>60 km</p>
          <p>
            <strong>Menetidő:</strong> 6 &oacute;ra s&eacute;ta, 1 &oacute;ra busszal</p>
          <p>
            <strong>Szintk&uuml;l&ouml;nbs&eacute;g:</strong> +200 m / -200 m</p>
          <p>
            <strong>T&uacute;rad&iacute;j:</strong> 20 RON + 45 RON bel&eacute;pők</p>
          <p>
            <strong>Napok:</strong> augusztus 4.</p>
        </div>
      </div>
    </div>
  </div>
</div>
