<h1>Túraleírások</h1>
<hr />
<div class="bs-example">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Strand a Goldbach-patakon</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <p>Távolság: gyalog 9,6 km</p>
          <p>Szintkülönbség: +320 m / –316 m</p>
          <p>Menetidő: 3 óra + fürdésre szánt idő</p>
          <p>Minősítés: könnyű túra, gyerektúra</p>
          <p>Mindenkinek ajánlott.</p>
          <p>Túraútvonal: Tábor – Feketehalmi strand – Tavak – Tábor</p>
          <p>Jellemzés: könnyű gyalogtúra a tábor környéki lombhullató erdőben, Feketehalom strandján kikapcsolódási lehetőséggel,
            megkerülve a mesterséges tavakat.</p>
          <p>Túravezető: Soós Tibor Pál, tel.: 0751-984331</p>
          <p>A tábor területének végében található a feketehalmi majálishely (45,7070° É; 25,4332° K; 639 m), amelynek érdekessége
            az 1899-ben létrehozott „csiga” vagy „a csodák köre”. A füves talajon kiképezett, hatalmas spirál alakban köröző
            ösvényt zenére járták be a szász gyerekek. A szászvolkányi születésű Martin Thies zeneszerző e különleges alkalomra
            írta a Kipferlmarsch című indulót, s minden gyerek, miután végigjárta a csigát, egy édes kiflit (Kipferl-t) kapott
            ajándékba. A majálist hagyományosan az iskolai év végén szervezték, s kezdetben Schulfest-nek (iskolaünnepély),
            majd újabban Kronfest-nek (koronaünnepély) nevezik. A csiga mellől indul a túránk, kezdetben meredeken emelkedünk
            a lombhullató erdőben, utunk sziklakövek mellett vezet el. Egy dombra mászunk fel, a sárga háromszög jelzést
            követve, a Feketehalmi erdőben járunk. Erdei úton ereszkedünk le, amely egy fakitermelő útba torkollik. A Goldbach
            (Arany-patak) medre mellett haladunk tovább az erdőben vezető széles fakitermelő úton, s az indulástól számítva
            mintegy 40 percen belül érjük el a feketehalmi strandot (45,7275° É; 25,4239° K; 619 m), amelyet 1903-ban kezdett
            el építeni az ifjúság, teljesen önkéntes munkával. Az erdő közepén, a Goldbach-forrás elrekesztésével képezték
            ki a medencét. 1906-ban a strand alatt egy vízgyűjtő tavat is létesítettek a Goldbach-patak medrében, majd a
            vízgyűjtő tótól 100 m-re, vízlépcső stílusban, egy másik tavat (45,7359° É; 25,4140° K; 590 m) is kialakítottak.
          </p>
          <p>
            A medence vize állandó jelleggel 18 °C. A nyári melegben jólesik hűsítő vize. 1932–1936 között Thomas Dück vezetésével, az
            ifjúság, a férfikórus, valamint a feketehalmi Szomszédság (Nachbarschaften) segítségével a medencét 50 m hosszúra
            bővítették ki.
          </p>
          <p>
            A strandtól indulva megkerüljük a két tavat, megfigyeljük az érdekes vízi élővilágot, a növényzetet, a halakat, madarakat.
            A tavak tiszta vizében jól látszanak az úszkáló halak: fürge sügér- és domolykóseregek úszkálnak a part közelében.
            A mélyben kárászok és keszegek tanyáznak, de ugyanilyen érdekesek a nádasban brekegő békák, vagy a madarak világa
            is.
          </p>
          <p>
            A jól megérdemelt fürdőzés és gyerekjátékok után ugyanazon az útvonalon indulunk vissza a táborba, ám egy adott ponton kimászunk
            egy másik dombra, hogy egy szerpentines ösvényen haladva közelítsük meg a tetőt. Ha csendben haladunk, megfigyelhetjük
            az itt tanyázó őzeket. Lombhullató erdőben haladó kacskaringós ösvényen érünk vissza a táborba. (dr. Kovács Lehel
            István)
          </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Feketevár a Kotlán</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Távolság: gyalog 9,78 km</p>
          <p>Szintkülönbség: +641 m / –641 m</p>
          <p>Menetidő: 5 óra – gyerekjátékokkal</p>
          <p>Minősítés: könnyű túra, gyerektúra</p>
          <p>Mindenkinek ajánlott</p>
          <p>Túraútvonal: Tábor – Sajoma-rét – Feketevár – Kaszálók – Tábor</p>
          <p>Jellemzés: könnyű gyalogtúra a tábor környéki lombhullató erdőben, megtekintjük a Feketevár romjait, végigjárjuk
            a Kotla alatti kaszálókat.</p>
          <p>Túravezető: Fekete Magda, tel.: 0744-929249</p>
          <p>A táborból a Sólyom (Șoimului) utcán megyünk az Édes alma-rétre (Poiana Mărul Dulce). A domboldalról szépen látszik
            a város, a Főtéren az evangélikus templomerőd. Pár lépés után erdei úton megyünk tovább, egy vízmosás partján.
            A piros és a kék háromszög jelzést követjük. Fenyőerdőben haladunk. A Kotlán növényzetinverzió van, fenyőerdő
            van alul, a lombhullató felül. Az ösvény széles, de a közepét mély árokban mosta ki a víz. Megjelennek a lombhullató
            fák, az ösvény sziklás lesz. Ahogy előrehaladunk, rálátás nyílik a Kotla csúcsára és az odavezető sziklás ösvényre.
            Bal kéz felől a Királykő látszik, jobbra lombhullató erdő és a fakitermelés maradványai. Az ösvény ismét kiszélesedik,
            a szintvonalon halad egyenesen, lejtések, emelkedések nélkül. Előttünk sziklák. Hamarosan beérünk az erdőbe egy
            útelágazáshoz (45,7064° É; 25,4139° K; 881 m). Innen indul a kék sáv jelzés jobbra a feketehalmi strandhoz.</p>
          <p>Vegyes erdőben haladunk tovább. Az emelkedőt egy rövid, enyhe lejtő, majd egy meredekebb emelkedő követi. Elágazáshoz
            érünk, itt (45,7048° É; 25,4117° K; 895 m) a kék háromszög és a kék sáv letér balra, ezeket követjük.</p>
          <p>A szintvonalon haladunk tovább alig érezhető emelkedőkkel, lejtőkkel, így érkezünk meg a Sajoma-rétre (Poiana lui
            Sulică, Poiana cu Brândușe de toamnă), első gyerekjátékunk helyszínére (45,6981° É; 25,4064° K; 901 m). A sajoma,
            salamás, saloma, sajama, sajamás a medvehagyma (Allium ursinum L.) barcasági neve.</p>
          <p>A rétről a Lovagok szikláinak (Stâncile Călărețului) érintésével érünk ki a gerincre. Mintegy 300 m megtétele után
            érünk az első várfalmaradványokhoz (45,6953° É; 25,4011° K; 971 m), majd továbbindulunk a vár felé. Hamarosan
            elérjük a várat (45,6940° É; 25,4003° K; 952 m), a nagy ciszterna még mindig látszik, hasonlóan imitt-amott a
            falmaradványok is.</p>
          <p>Míg Károly Róbert parancsára 1335-ben le nem rombolták, Feketevár (Schwarzburg) Feketehalom büszkesége lehetett.
            Az ovális falakat a teuton lovagok építették az 1292 m magas Kotla egyik nyergébe, hogy a szebeni út (Szászok
            útja, Sachsenweg, Drum al Saşilor) őrzését ellássák. A Német Lovagrend kiűzése után a vár királyi birtok lett,
            IV. Béla pedig fiának, V. Istvánnak, Erdély hercegének adományozta. István ezt a várat kedvelte a legjobban erdélyi
            birtokai közül.</p>
          <p>A vár mellett középkori ihletésű gyerekjátékokat játszunk.</p>
          <p>A vár meglátogatása után Holbach felé vesszük utunkat, a vár alatti kaszálókon szeretnénk visszajutni Feketehalomra.
            Jelzés nélküli ösvényen ereszkedünk be a nagy kaszálóra, ahol gyógynövényeket és virágokat szedhetünk.</p>
          <p>Kiérve a rétre, rábukkanunk a szekérútra, ezen folytatjuk utunkat Feketehalom felé. A szekérút széles, több kaszálót
            és erdőrészt is érint. Jobb kéz felől néhol házak látszanak. Az út mentén tűzhelyek, padok, tetők találhatók.
            Hamarosan egy forráshoz érünk, melyből hideg, hűsítő víz csordogál (45,6935° É; 25,4049° K; 829 m).</p>
          <p>A széles szekérút továbbhalad a bükkerdőben, majd egy híd melletti útkereszteződéséhez érünk (45,6960° É; 25,4113°
            K; 750 m). Az útkereszteződésnél balra térünk, átmegyünk a hídon, és a széles szekérúton megyünk tovább, gyerekdalokat
            énekelve.
          </p>
          <p>Hamarosan kiérünk az erdőből egy fairtásos részre. Ha megfordulunk, mögöttünk a Kotla. Egy meredekebb emelkedő
            után beérünk a bükkerdőbe, és találkozunk a merőlegesen jövő kék és piros háromszöggel jelzett ösvénnyel. Itt
            jobbra térve igyekszünk vissza Feketehalomba azon az úton, amelyiken jöttünk. (dr. Kovács Lehel István)</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Bucsecs – a Barcaság őre (2500 m fölé)</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Távolság: gyalog 17 km, autóbusszal 120 km</p>
          <p>Szintkülönbség: +2018 m / –2078 m</p>
          <p>Menetidő: 11–12 óra</p>
          <p>Minősítés: nehéz, hosszú, magashegyi túra, kézhasználatos sziklamászásokkal, igényes felszerelésselCsak felkészülteknek,
            tapasztaltaknak ajánlott.</p>
          <p>Túraútvonal: Tábor – Bustény / Bușteni – Molnár-völgy / Valea Morarului (jelzés nélkül) – Omu-csúcs – Szarvas-völgy
            / Valea Cerbului – Bustény / Bușteni – Tábor</p>
          <p>Jellemzés: szükséges a jó fizikai erőnlét, szédülésmentesség, egyszerűbb sziklamászásban jártasság, korai indulás</p>
          <p>A túra alatt a vízkészlet pótlására nincs lehetőség így a napi szükségletet hozni kell. Az Omu menedékházban (az
            ország legmagasabban fekvő menedékháza) lehet teát, sört, hűsítőt vásárolni.</p>
          <p>Túravezető: Tőke Dénes, tel.: 0752-568855</p>
          <p>Segéd: Fénya József, tel.: 0744-274692.</p>
          <p>Az EKE Brassó által szervezendő 2018-as EKE Vándortábor túrakínálatában egy nem mindennapi túra isszerepel a Bucsecs-hegységbe.
            A túra a hangsúlyozottan nehéz magashegyi sziklatúrák kategóriájábasorolandó, ezért csak jó erőnléttel rendelkező
            túrázóknak ajánlott.</p>
          <p>A táborhelyről autóbusszal utazunk Bustényba. Utunk a festői szépségű Tömösi-szoroson vezet át, ahol1849-ben két
            csatára is sor került. Felsőtömös és Predeál (az ország legmagasabban fekvő városa) 1920-igMagyarország határtelepülése
            volt.
          </p>
          <p>A Szarvas (Diham) völgyön felfelé haladva kb. 3 km után, az autóbuszból kiszállva a túravezető rövidismertetőt
            tart a Bucsecs-hegységről, miután rátérünk a sárga sáv jelzésre, és ezt követjük meredek, erdőshegyoldalon kapaszkodva
            egészen a Co tila, majd a Szarvas-völgy tisztásig.</p>
          <p>Körülbelül egy óra múlva, a Szarvas-völgy tisztás szomszédságában, rácsatlakozunk a piros háromszögjelzésre, amelyik
            a Bucsecs hegytömbjének lábánál kanyarog dél-észak irányban (a Mălăie ti-völgybe tart).șA piros háromszög jelzést
            követjük egészen a Molnár-völgy bejáratáig. Innen utunk a Bucsecs-hegységvitathatatlanul legimpozánsabb, legszebb
            sziklavölgyén halad felfelé egy jelzetlen, csak ritkán vagy alig járthegyi ösvényen. A Molnár-sziklavölgy két
            hegygerinc közé ékelődik. Balról (felfelé menet) a Molnár (Morarul)hegygerinc, amit a sokak által ismert látványos
            sziklatornyok a Molnár-fogak (Col ii Morarului) csipkéznek,țjobbra a Kis-Buksoj (Buc oiul Mic) leszakadó sziklafalai,
            amelynek gerincén húzódott a Monarchia határa.șIgazi vad alpesi világ vesz körül, miközben a völgy meredek sziklatömbjein
            mászva haladunk az áhítottmagaslatok felé. A panoráma igazi szépsége akkor mutatkozik meg igazán, amikor felérünk
            a völgyzárókatlan szelídebb alpesi legelőire. Utunk itt balra fordul és sziklalépcsők sorozatát megmászva érkezünk
            fel aBuksoj-nyereg alá, ahonnan már szelídebb füves lejtők vezetnek a Nagy-Buksoj (Buc oiul Mare) csúcsot azșOmu-csúccsal
            összekötő nyeregbe, amely fölött találkozik a Kis- és Nagy-Buksoj gerince.</p>
          <p>A nyeregből kiérve az Omu-csúcs gerincére, néhány száz méter után rövidesen ott állunk túránk fő célja, a2505 m
            magas Omu-csúcson (45,4455° É; 25,4563° K; 2505 m). </p>
          <p>Ha az égiek is velünk tartanak és tiszta időnk lesz, erről a magaslatról megcsodálhatjuk a Kárpát-kanyaróriásaival
            szegélyezett páratlan panorámát, amelyet a túravezető szintén bemutat.</p>
          <p>A megérdemelt ebéd és pihenő után innen már utunk lefelé halad. A sárga sáv jelzésen indulunk le aSzarvas-völgy
            sziklás mélységeinek irányába. Viszonylag kényelmes, jól kitaposott hegyi ösvényenkanyarogva érkezünk a Coștila-rétre
            / Poiana Coştilei (45,4395° É; 25,5039° K; 1306 m), ahonnan már afeljövetelkor megismert útszakaszon ereszkedünk
            a völgybe, hogy az Omu-csúcsról 4–5 órás út után,élményekkel megrakodva visszaérkezzünk a ránk várakozó autóbuszhoz.</p>
          <p>Az autóbusszal Predeálnál Barcarozsnyó felé térünk le, hogy Hidegpatakot érintve, a barcarozsnyói várlátványával
            kiegészülve érkezhessünk meg a feketehalmi tábor helyszínére. (dr. Kovács Lehel István)</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Keresztény-havas – kilátás a Barcaságra</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Távolság: gyalog 20,25 km, autóbusszal 70 km</p>
          <p>Szintkülönbség: +1662 m / –1243 m</p>
          <p>Menetidő: 7,5 óra</p>
          <p>Minősítés: nehéz, hosszú magashegyi túra, jó erőnlétben lévők számára ajánlott</p>
          <p>Túraútvonal: Tábor – Brassó – Cenk – Stehil-rét – Ruja-rét – Keresztény-havas-csúcs – Julius Römer menedékház –
            Brassó-Pojána – Barcarozsnyó – Tábor</p>
          <p>Jellemzés: hosszú magashegyi túra meredek kapaszkodókkal, bejárja a Cenk és a Keresztény-havas gerinceit, csúcsait</p>
          <p>Túravezető: Gáspár László Zsolt, tel.: 0745-058179</p>
          <p>A táborból busszal indulunk Brassóba (Bra ov / Kronstadtș ). A bertalani templom mellett térünk rá a Hosszú utcára
            (str. Lungă / Langgasse), elmegyünk a Hadsereg háza, az Aro szálloda, a polgármesteri hivatal, a megyeháza, a
            Star áruház előtt, majd a Posztósok bástyáját magunk mögött hagyva parkolunk a Cenk alatti sétányon (Aleea Tiberiu
            Brediceanu / Burgpromenade).A Star áruházzal szemben, a Dobrogeanu Gherea utca sarkáról (45,64294° É; 25,59825°
            K; 590 m) indul a sárga háromszöggel jelzett, leglátványosabb Cenkre vezető út, amelyet 1930–31-ben vágtak a
            sziklába és 2008-ban újítottak fel. Első szakasza a Sziklaút, amelyet a brassói Szépítő Egylet (Verschönerungsverein)
            hozott létre a Cenk mészkőfalából kirepesztve. Mintegy kilométer megtétele után megérkezünk a Gábony-lépcsőkhöz
            (Treptele lui Gábony / Gábony-Stiege). Oskar Alesius városi tanácsos padja mellett elhaladva lépcsőfokokon kezdünk
            felmászni. Mintegy 25 percen keresztül megyünk felfelé a korláttal ellátott lépcsőn, majd a Rakodó fölötti nagy
            tisztásra és a Cenk gerincére érünk. A Cenk ma természetvédelmi terület, itt található az országban honos lepkefajok
            35 százaléka, az erdélyi májvirág (Hepatica transsilvanica Fuss), a barcasági rozsnok (Bromus barcensis Simonk.)
            és a sárga koronafürt (Coronilla coronata L.), élővilágát mégis az itt élő barnamedvék tették hírhedté. A hegyen
            élő mintegy 45 medve rendszeresen lejár a városba kukázni.</p>
          <p>A gerincen végighaladva elhagyjuk az antennákat, a Panoramic vendéglőt, a felvonót, majd kimászunk a csúcsra.</p>
          <p>A Cenk csúcsa alá 1873-ban kilátót létesítettek, majd egy sziklaüregbe vendéglőt rendeztek be. Az épületegyüttes
            Bethlen András földművelésügyi miniszter 1891-es látogatásának emlékére a Bethlen-barlang nevet kapta. 1905-ben
            kibővítették, 1977-ig működött, akkor leégett.</p>
          <p>A Cenk csúcsáról (45,63419° É; 25,59293° K; 965 m) gyönyörű kilátás nyílik a Keresztény-havasra, a Nagy-kőhavasra,
            a városra, valamint a teljes Barcasági-medencére.</p>
          <p>A Cenk-tetőn 1849-ben az orosz hadsereg kőobeliszket emelt, rajta a sárkányt legyőző oroszlán vasból készült szobrával.
            A kőbe két egymásba kulcsolt kéz volt vésve, s alatta e szavak: Austria cum Russia unita – Rebellio devicta.
            1861-ben villám csapott az osztrák–orosz szoborba, összetörte és összeolvasztotta a vasoroszlánt.</p>
          <p>A Millennium alkalmából Jankovics Gyula tervei alapján a magyar kormány 20,3 m magas szobrot emelt a Cenk-tetőre.
            Az oszlop tetején álló, 3,5 m-es honfoglalás kori vitéz baljával címeres pajzsra támaszkodott, jobbjában kivont
            karddal nézett a Tömösi-szoros felé. A szobrot már a felavatását megelőző sajtóvitában Árpád-szobor névre keresztelték.
            Az avatóra 1896. október 18-án került sor, beszédet mondott Perczel Dezső belügyminiszter és Friedrich Müller
            nagyszebeni szász püspök. 1913. szeptember végén Ilie Cătărău és Eliad Cotofan (más források szerint Timotei
            Kirilov) bombatámadást intézett a szobor ellen, amelyben talapzata megsérült, és a szobor pár hónap múlva egy
            hóviharban összedőlt. Az Árpád-szobor feje a brassóimagyar evangélikus templom udvarán tekinthető meg.</p>
          <p>A csúcstól meredekebb ösvény halad lefelé, szintén sárga háromszöggel jelezve. Mellette halad el a Brassovia vármaradványait
            érintő tanösvény is.</p>
          <p>Senki sem tudhatja pontosan, hogy a történelem forgatagában melyik nép építhette a Cenken lévő első várat, tényként
            kezelhető azonban, hogy a keresztény hitre tért magyarok Szent Lénárdról elnevezett kápolnát emeltek a várban,
            amely ekkor már a Brassovia nevet viselte. A kápolna tégláin ugyanannak a téglavetőnek a mesterjegye található,
            aki a Szent István-kori első kalocsai székesegyház tégláit is vetette. Azon is megoszlik a történészek véleménye,
            hogy e vár került-e valaha a Német Lovagrend kezébe, de egyetértenek abban, hogy 1225 után a magyar király uralkodott
            felette. 1345-ben a tatárok ellen védte a várost, 1395-ben Öreg Mircse itt helyezte biztonságba családját, mielőtt
            keresztes háborúba indult a magyar király vazallusaként. 1421-ben II. Murád serege ostromolta. A brassói szászok
            kérésére Hunyadi János 1447-ben elrendelte lebontását, hogy köveit a Cenk lábánál húzódó új városerőd építésénél
            felhasználhassák.
          </p>
          <p>Már messziről látszik a Cenk-nyereg (Şaua Tâmpei / Zinnensattel), körös-körül a tisztáson padokat helyeztekel,
            a nyerget egy kereszt díszíti (45,63057 É; 25,59072 K; 854 m). Innen a kék sáv jelzésen haladunk tovább a Stechil-rétre
            (Poiana Stechil / Stechil-Wiese). Itt is padokat helyeztek el, a tisztást kereszt és egy oszlop díszíti (45,61573
            É; 25,57985 K; 1030 m).</p>
          <p>A Stechil-rétről dél felé indulunk tovább a Kék úton (Drumul albastru / Der blaue Weg). A Krukk-élen (a Keresztény-havas
            főgerince, Crucurul / Krukur) már enyhébb az emelkedő, az ösvény követi a szintvonalat. Elhagyjuk a Simon gödrét,
            a Tejbarlangi letérőt, majd elérjük a Ruja-rét (Poiana Ruia / Ruja-Wiese) mesterséges tavát (45,5778° É; 25,5619°
            K; 1474 m). Innen tovább emelkedünk a menedékház felé, elérjük a Háromkislány-réten keresztül Predeálra vezető
            Sárga út elágazását (45,5693 É; 25,5608 K; 1693 m), majdfelmászunk a felvonókabinok fenti végállomásához.</p>
          <p>A csúcstól mindössze 200 méternyire vagyunk. Könnyű, enyhén ereszkedő, majd emelkedő, rövid sétaút következik,
            amely elhalad a tv-átjátszóállomás alatt. A csúcs szikláját elérve, a kék jelzés tovább halad Alsótömös felé
            a Kígyók útján.</p>
          <p>Innen már alig pár perces a piros kereszttel jelzett ösvény, amely a Keresztény-havas csúcsára (45,5689° É; 25,5678°
            K; 1799 m) vezet. A Keresztény-havas csúcsa tulajdonképpen egy mészkőszikla, ennek a megmászását jelenti ez az
            út. Vaskorláttal ellátott természetes lépcsőfokokon haladva érünk fel a csúcsra. Az idők során a lépcsőként szolgáló
            kiálló sziklakövek már teljesen lekerekedtek, csúszóssá váltak, a korlátba kapaszkodva mászhatunk fel. A csúcsot
            egy betonhasáb és egy tábla jelzi. Teljes, 360°-os panoráma tárul elénk: északra a Barcasági- és a Brassói-medence,
            a Baróti-hegyek, de Sepsiszentgyörgy isidelátszik; keletre a Keresztény-havas ikertestvére, a Nagy-kőhavas vad
            sziklaormai látszanak; délre a Predeáli-, a Gârbovai-hegyek és a Bucsecs; nyugatra pedig a Királykő eget tartó
            ormai és Barcarozsnyó.A csúcs megmászása után visszaindulunk a Julius Römer menedékházhoz (Cabana Postăvaru /
            Julius Römer Hütte), itt (45,5718° É; 25,5545° K; 1604 m) fogyasztjuk el ebédünket, örülünk a szász vendéglátásnak.</p>
          <p>A menedékháztól a Vörös úton (Drumul ro uș / Der rote Weg) jövünk le Brassó-Pojánába. A sípályán vagy mellette
            kacskaringózik a szép kilátásokban gazdag ösvényünk.Brassó-Pojánában ismét buszra szállunk, majd Barcarozsnyót
            érintve érünk vissza a táborba.(Dr. Kovács Lehel István)</p>
        </div>
      </div>
    </div>


    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">5. Keresztény-havas – kilátás a Barcaságra</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
      </div>
    </div> -->
  </div>
</div>
