<form #personalForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">1. l&eacute;p&eacute;s: Szem&eacute;lyes adatok kit&ouml;lt&eacute;se</h4>
        <br />
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="firstname">Vezet&eacute;kn&eacute;v</label>
                            <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname" type="text" placeholder="Vezet&eacute;kn&eacute;v" [(ngModel)]="personal.firstName">
                            <div class="alert alert-danger" [hidden]="firstname.valid">Vezet&eacute;kn&eacute;v kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="lastname">Keresztn&eacute;v</label>
                            <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname" type="text" placeholder="Keresztn&eacute;v" [(ngModel)]="personal.lastName">
                            <div class="alert alert-danger" [hidden]="lastname.valid">Vezet&eacute;kn&eacute;v kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label col-xs-12 row" for="birthDate">Sz&uuml;let&eacute;snap</label>
                            <p-calendar #birthDate="ngModel" required id="birthDate" name="birthDate" [(ngModel)]="personal.birthDate" dateFormat="yy.mm.dd" inputStyleClass="form-control input-md" placeholder="1900.1.1" yearRange='1900:2018' yearNavigator="true" monthNavigator="true"></p-calendar>
                            <div class="alert alert-danger" [hidden]="birthDate.valid">Sz&uuml;let&eacute;snap kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="personal.email">
                    <div class="alert alert-danger" [hidden]="email.valid">Email c&iacute;m kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                </div>

                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="country">Orsz&aacute;g</label>
                            <input class="form-control input-md" #country="ngModel" required id="country" name="country" type="text" placeholder="Orsz&aacute;g" [(ngModel)]="personal.country">
                            <div class="alert alert-danger" [hidden]="country.valid">Orsz&aacute;g kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="city">V&aacute;ros</label>
                            <input class="form-control input-md" #city="ngModel" required id="city" name="city" type="text" placeholder="V&aacute;ros" [(ngModel)]="personal.city">
                            <div class="alert alert-danger" [hidden]="city.valid">V&aacute;ros kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="phoneno">Telefonsz&aacute;m</label>
                            <input class="form-control input-md" #phoneno="ngModel" required id="phoneno" name="phoneno" type="text" placeholder="Telefonsz&aacute;m" [(ngModel)]="personal.phoneno">
                            <div class="alert alert-danger" [hidden]="phoneno.valid">Telefonsz&aacute;m kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <div class="form-group">
                            <label class="control-label" for="cnp">Szem&eacute;lyi sz&aacute;m</label>
                            <input class="form-control input-md" #cnp="ngModel" required id="cnp" name="cnp" type="text" placeholder="Szem&eacute;lyi sz&aacute;m" [(ngModel)]="personal.cnp">
                            <div class="alert alert-danger" [hidden]="cnp.valid">Szem&eacute;lyi sz&aacute;m kit&ouml;lt&eacute;se k&ouml;telez&#337;</div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)"> Tov&aacute;bb <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</form>